@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #FFFFFF;
  width: 1200px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.button {
  font-family: inherit;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
}

.page-header {
  color: black;
  background-color: #FFFFFF;
  z-index: 1;
}

.navigation {
  display: flex;
  align-items: center;
  width: 1060px;
  margin: 0 auto;
  padding-bottom: 5px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  list-style-type: none;
  align-items: center;
  padding: 5px 0 0 13px;
}

.navigation-link {
  display: block;
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  background-color: #FFFFFF;
  text-decoration: none;
  position: relative;
}

.navigation-user {
  margin: 0 0 0 auto;
}

.navigation-item {
  margin-left: 34px;
  padding: 0;
}

.favorite {
  margin-left: -13px
}

.number-favorite {
  background-color: #7DB54F;
  width: 20px;
  height: 20px;
  color: #FFFFFF;
  border-radius: 10px;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: -0.1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -15px;
  top: -9px;

}

.menu-link {
  position: relative;
  font-size: 20px;
  line-height: 26px;
}

.menu-link:hover::before, .menu-link-current::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -21px;
  width: 100%;
  height: 2px;
  background-color: #756257;
}

.wanted {
  padding: 5px 34px 6px;
  border-radius: 4px;
  background-color: #756157;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 16px;
}

.wanted:hover {
  background-color: rgba(97, 80, 72, 1);
}

.wanted:active {
  background-color: rgba(117, 97, 87, 1);
  color: rgba(255, 255, 255, 0.3);
}

.logo-icon {
  display: block;
  width: 139px;
  margin: 0 0 -10px;
}

.city-title {
  text-align: center;
  text-transform: uppercase;
  margin: 63px auto 31px;
  line-height: 36px;
  font-size: 30px;
  font-weight: 700;
}

.city-advantages {
  text-align: center;
  margin: 0 auto 90px;
}

.main-container {
  display: flex;
}

.main-logo {
  background-image: url("../images/index-background.jpg");
  background-color: #679cbe;
  color: #000000;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 1200px;
  height: 485px;
  padding-top: 51px;
  position: relative;
}

.main-logo::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 57px;
  background-image: url("../images/devider.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.logo {
  display: block;
  margin: 0 auto;
}


.city-description {
  text-align: center;
}

.advantages-list {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-order {
  display: block;
  margin: 30px;
}

.wrapper {
  background-color: #82B3D3;
  width: 400px;
}

.advantages-item--blue {
  background-color: #82B3D3;
}

.advantages-item-text {
  margin: 0;
  padding: 92px 85px;
  font-size: 18px;
  width: 400px;
  color: #ffffff;
}

.advantages-item--reverse .advantages-item-wrapper {
  flex-direction: row-reverse;
}

.advantages-item-wrapper {
  display: flex;
}


.advantages-item {
  width: 100%;
}

.advantages-item--33 {
  width: 400px;
  padding: 80px 85px 76px;
}

.advantages-item-light-blue {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-beautiful-road {
  padding: 80px 85px;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-sublist {
  display: flex;
  list-style: none;
  background-color: #ffffff;
  padding: 0;
}

.advantages-title {
  margin: 0 0 30px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  padding: 0;
}

.advantages-title-no-pic {
  padding-top: 20px;
}


.advantages-description {
  margin: 0 auto;
}

.advantages-description, .advantages-order {
  font-size: 18px;
  line-height: 21px;
}

.advantages-description-no-pic {
  padding-bottom: 20px;
}

.advantages-icon {
  margin-bottom: 30px;
}

.advantages-icon-souvenir {
  margin-bottom: 25px;
}


.appointment {
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
  width: 1200px;
  padding-top: 91px;
  padding-bottom: 93px;

}

.appointment-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 3px 0 29px;
}

.appointment-description {
  margin: 0 0 46px;
  font-size: 22px;
  line-height: 26px;
  padding-bottom: 10px;
}

.hotel-search-link {
  display: table;
  margin: 0 auto;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #756157;
  color: #FFFFFF;
  padding: 12px 15px;
  width: 574px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.hotel-search-link:hover {
  background-color: rgba(97, 80, 72, 1);
}

.hotel-search-link:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.newsletter {
  background-image: url("../images/footer-background.jpg");
  background-color: #6b94af;
  color: #FFFFFF;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 1200px;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 94px;
  background-size: cover;
}

.newsletter-title {
  text-transform: uppercase;
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.newsletter-description {
  margin-bottom: 47px;
}

.subscription {
  display: flex;
  margin: 0 200px;
}

.newsletter-form {
  display: flex;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.newsletter-email-field {
  width: 600px;
  margin: 0 auto;
  height: 60px;
  border-style: none;
  padding: 16px 20px 14px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 18px;
  line-height: 21px;
}

.newsletter-button {
  margin: 0 auto;
  height: 60px;
  background-color: #82B3D3;
  color: #FFFFFF;
  padding: 12px 15px;
  border-style: none;
  flex-grow: 1;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}

.newsletter-button:hover {
  background-color: rgba(104, 162, 202, 1);
}

.newsletter-button:active {
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 0.3);
}

.newsletter-email-field-inner {
  background-color: #F2F2F2;
}

.page-footer {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
  padding: 45px 70px 35px 81px;
}

.footer-social-list {
  display: flex;
  color: #000000;
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social-item + .footer-social-item {
  margin-left: 27px;
}

.social-network-link {
  fill: #83B3D3;
}

.social-network-link:hover {
  fill: #68A2CA;
}

.social-network-link:active {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-phone-number {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  font-weight: 400;
  text-align: center;
  background-color: #FFFFFF;
  text-decoration: none;
  margin-left: 250px;
  flex-shrink: 0;
}

.footer-phone-number:hover {
  color: #756157;
}

.footer-phone-number:active {
  color: rgba(117, 97, 87, 0.3);
}

.htmlacademy-link {
  margin-left: 233px;
  fill: #000000;
  margin-top: 5px
}

.htmlacademy-link:hover {
  fill: #756157;
}

.htmlacademy-link:active {
  fill: rgba(117, 97, 87, 0.3);
}

.overlay {
  background-color: rgba(242, 242, 242, 1);
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
}

.modal {
  position: fixed;
  margin: auto;
  padding: 70px;
  background-color: #FFFFFF;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
}

.modal-info {
  width: 715px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  background-color: #F2F2F2;
  border-radius: 50%;
  background-image: url("../images/modal-close-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-style: none;
  cursor: pointer;
}

.field-group {
  display: grid;
  grid-template-columns: 155px 1fr;
}

.field-group +.field-group {
  margin-top: 40px;
}

.input-wrapper {
  position: relative;
}

.first-date,
.last-date {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 26px;
  line-height: 26px;
  font-weight: 700;
}

.calendar {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  overflow: hidden;
  background-image: url("/images/icons/icon-calendar.svg");
  background-repeat: no-repeat;
  border-style: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;

}

.field {
  height: 50px;
  width: 100%;
  background-color: #F2F2F2;
  border-style: none;
  border-radius: 4px;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  padding-left: 19px;

}

.first-date-comment {
  grid-column: 2/3;
  font-size: 16px;
  line-height: 21px;
  color: #FF5757;
}

.field-group--flex {
  display: flex;
  justify-content: space-between;
}

.field-group-body {
  display: flex;
}

.field-group-body--adult {
  width: 288px;
}

.field-group-body--children {
  width: 230px;
}

.buttons-wrapper {
  display: flex;
  background-color: #F2F2F2;
  border-style: none;

}

.buttons-wrapper input {
  width: 33px;
}

.tooltip {
  position: relative;
}

.adults-amount,
.children-amount {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.adults-amount {
  margin-right: 64px;
}

.children-amount {
  margin-right: 43px;
}

.tooltip-text {
  position: absolute;
  width: 256px;
  height: 143px;
  background-color: rgba(51, 51, 51, 1);
  top: 100%;
  margin-top: 15px;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  padding: 15px 18px 18px 22px;
  border-radius: 10px;
}

.tooltip-text::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100%;
  width: 19px;
  height: 9px;
  border: 10px solid transparent;
  border-bottom: 10px solid rgba(51, 51, 51, 1);
}

.modal-title {
  margin: 0 0 63px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.main-filter {
  background-image: url("../images/hotel-filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  background-color: #7497bf;
  padding: 35px 70px 50px;
}

.info-form-button {
  width: 575px;
  height: 60px;
  background-color: #83B3D3;
  border-radius: 10px;
  border-style: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  margin: 0 0 10px;
}

.breadcrumbs {
  margin: 0 0 40px;
  padding: 0;
  list-style: none;
  display: flex;
}

.breadcrumbs-item + .breadcrumbs-item {
  padding-left: 15px;
  margin-left: 10px;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item + .breadcrumbs-item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  height: 8px;
  background-image: url("../images/arrow-breadcrumbs.svg");
}


.breadcrumbs-link {
  line-height: 21px;
  font-size: 16px;
  fill: #FFFFFF;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  display: block;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  color: #FFFFFF;
  fill: #FFFFFF;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
  fill: rgba(255, 255, 255, 0.3);
}

.catalog-options {
  display: flex;
  background-color: #FFFFFF;
  color: #000000;
  padding: 55px 71px 56px 72px;
}


.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: 0;
}

.catalog-infrastructure {
  margin-right: 70px;
}

.catalog-type-acc {
  margin-right: 175px;
  padding-left: 2px;
}

.catalog-price {
  margin-right: 70px;
  padding-top: 4px;
  padding-left: 2px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  padding: 0;
  margin: 0 0 30px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.catalog-filter-wrapper {
  display: table;
  margin: 0 0 0 auto;
  padding-top: 61px;
  width: 160px;
  padding-right: 2px;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-wrapper .button {
  display: block;
}

.catalog-filter-item {
  margin-bottom: 15px;
}

.control {
  position: relative;
  display: block;
}

.control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
}

.control-label {
  padding-left: 38px;
}

.control-mark--round {
  border-radius: 100%;
  background-color: #FFFFFF;
}

.control-mark--square {
  border-radius: 4px;
  background-color: #FFFFFF;
}

.control-input[type="checkbox"]:checked + .control-mark--square::before {
  content: "";
  position: absolute;
  background-image: url("../images/icons/icon-tick.svg");
  width: 12px;
  height: 10px;
  top: 5px;
  left: 4px;
}

.control-input[type="radio"]:checked + .control-mark--round::before {
  content: "";
  position: absolute;
  background-color: #3F5E72;
  width: 10px;
  height: 10px;
  top: 5px;
  left: 5px;
  border-radius: 100%;
}

.control-input:focus + .control-mark--round {
  box-shadow: 0 0 0 3px #83B3D3;
}

.control-input:hover + .control-mark--square {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input:focus + .control-mark--square {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 0 3px #83B3D3;
}

.control-input:active + .control-mark--square {
  background-color: rgba(255, 255, 255, 0.6);
}

.catalog-filter-prices {
  display: flex;
  height: 48px;
}

.catalog-filter-price {
  width: 143px;
  display: flex;
  align-items: center;
  padding: 14px 17px 14px 18px;
  position: relative;
  border: 2px solid #F2F2F2;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.catalog-filter-price + .catalog-filter-price {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.catalog-filter-price:hover {
  border-color: rgba(255,255,255,1);
}

.catalog-filter-price-input {
  display: block;
  width: 100%;
  background-color: transparent;
  border-style: none;
  color: #F2F2F2;
  font-size: 18px;
  line-height: 21px;
  padding-left: 0;
  padding-right: 0;
}

.catalog-filter-price:hover {
  border-top-width: 2px;
  border-top-color: rgba(255, 255, 255, 1);
  border-right-width: 2px;
  border-right-color: rgba(255, 255, 255, 1);
  border-left-width: 2px;
  border-left-color: rgba(255, 255, 255, 1);
  border-bottom-width: 2px;
  border-bottom-color: rgba(255, 255, 255, 1);
  opacity: 60%;
}

.catalog-filter-price-input:focus {
  outline: none;
}

.catalog-filter-price:focus-within {
  box-shadow: 0 0 0 1px #F2F2F2, 0 0 0 3px #81B3D2, inset 0 0 0 3px #81B3D2;
}

.catalog-filter-price:active {
  background-color: #756257;
}

.catalog-filter-price:nth-child(1):focus-within {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.catalog-filter-price:nth-child(2):focus-within {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.catalog-filter-price-label {
  font-size: 18px;
  line-height: 21px;
  opacity: 30%;
}

.catalog-filter-range {
  width: 288px;
  height: 4px;
  margin-top: 28px;
  position: relative;
  background-color: rgba(255, 255, 255, 3);
}

.catalog-filter-range-line {
  width: 228px;
  height: 4px;
  background-color: #ffffff;
}

.catalog-filter-range-btn {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  border: none;
  top: 50%;
  transform: translateY(-50%);
}

.catalog-filter-range-btn:focus {
  border: 3px solid rgba(131, 179, 211, 1);
}

.catalog-filter-range-btn:active {
  border: 2px solid rgba(131, 179, 211, 1);
}

.catalog-filter-range--min {
  left: 0;
}

.catalog-filter-range--max {
  left: 216px;
}

.button-filter-submit {
  display: block;
  padding: 14px 15px;
  border-style: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 4px;
  font-family: "PT Sans", "Arial", sans-serif;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
}

.button-filter-submit:hover {
  background-color: #68A2CA;
}

.button-filter-submit:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.button-filter-reset {
  display: block;
  border-style: none;
  background-color: transparent;
  margin: 0 auto;
  color: #FFFFFF;
  padding: 20px 28px;
  border-radius: 4px;
  font-family: "PT Sans", "Arial", sans-serif;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
}

.button-filter-reset:hover {
  opacity: 60%;
}

.button-filter-reset:focus {
  outline: 3px solid rgba(131, 179, 211, 1);
}

.button-filter-reset:active {
  opacity: 60%;
}

.search-results {
  padding-right: 210px;
}


.catalog-options {
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  color: #000000;
  margin: 31px 71px 36px 72px;
  width: 1057px;
  padding: 0;
}


.search-results {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin-right: 191px;
  padding: 0;
  width: 338px;
  flex-shrink: 0;
}

.sorting {
  margin-right: 78px;
  border-radius: 4px;
  width: 290px;
}

.select-control {
  width: 290px;
  height: 49px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  appearance: none;
  background-image: url("../images/selector-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  padding-left: 20px;
  background-color: #FFFFFF;
}

.select-control:hover {
  border-color: rgba(104, 162, 202, 1);
}

.select-control:active {
  border-color: rgba(63, 94, 114, 1);
}

.page-view {
  display: flex;
  margin: 0;
  padding: 0;
}

.button-view {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-view:hover, .button-view:active {
  border-color: #000000;
}

.button-view:focus {
  border-color: #68A2CA;
  outline: none;
}

.button-view-selected {
  border-color: #000000;
}

.button-view + .button-view {
  margin-left: 8px;
}

.hotel-wrapper {
  display: flex;
}

.hotel-cards {
  display: flex;
  padding-left: 0;
  flex-wrap: wrap;
  margin: 0 73px 0 71px;
  justify-content: space-between;
}

.hotel-card {
  background-color: #FFFFFF;
  list-style: none;
  padding: 20px;
  width: 340px;
}

.hotel-card-title a {
  font-weight: 700;
  text-decoration: none;
  color: #000000;
  font-size: 24px;
  line-height: 28px;
}

.hotel-card-title {
  margin: 8px 0 18px;
}

.hotel-card-type {
  font-weight: 400;
  color: #333333;
  padding: 0;
  margin: 0 20px 0 0;
  width: 140px;
  font-size: 18px;
  line-height: 21px;
}

.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  width: 140px;
}

.hotel-and-price {
  display: flex;
  align-items: center;
  height: 21px;
  margin-bottom: 16px;
}

.more {
  display: flex;
  margin-bottom: 13px;
  text-align: center;
}

.hotel-card-button {
  width: 140px;
  height: 37px;
}

.button-else {
  margin-right: 20px;
  width: 140px;
  background-color: #756157;
  color: #ffffff;
  border-radius: 4px;
  padding: 7px;
  font-size: 16px;
}

.button-else:hover {
  background-color: rgba(97, 80, 72, 1);
}

.button-else:active {
  background-color: rgba(117, 97, 87, 1);
  color: rgba(255, 255, 255, 0.3);
}

.button-fav {
  width: 140px;
  color: #ffffff;
  background-color: #82B3D3;
  border-radius: 4px;
  padding: 7px;
  font-size: 16px;
}

.button-fav:hover {
  background-color: rgba(104, 162, 202, 1);
}

.button-fav:active {
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 0.3);
}

.button-fav-current {
  background-color: #7DB54F;
}

.button-fav-current:hover {
  background-color: #6C9E42;
}

.button-fav-current:active {
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.rate {
  display: flex;
}

.stars {
  display: flex;
  width: 140px;
  margin-right: 20px;
  align-items: center;
}

.star {
  padding-right: 7px;
}

.hotel-rating {
  text-transform: uppercase;
  font-size: 16px;
  padding: 9px 22px 8px 23px;
  background-color: #F2F2F2;
  border-radius: 4px;
  line-height: 20px;
}

.pagination {
  width: 1056px;
  display: flex;
  margin: 100px 71px 25px 73px;
}

.pagination-list {
  display: flex;
  color: #FFFFFF;
  list-style: none;
  margin: 0;
  padding: 0 270px 0 0;
}

.pagination-item + .pagination-item {
  margin-left: 8px;
}

.pagination-link {
  width: 60px;
  height: 60px;
  background: #82B3D3;
  border: 1px solid #82B3D3;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-link-current {
  background-color: rgba(242, 242, 242, 1);
  border-style: none;
  color: #000000;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-amount {
  display: flex;
  align-items: center;

}

.hotel-page {
  width: 175px;
  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
}

.hotel-page-amount {
  margin: 5px 71px 5px 51px;
  width: 160px;
  height: 49px;
  border-radius: 4px;
  border-color: #E5E5E5;
  padding: 14px 20px 14px 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  appearance: none;
  background-image: url("/images/selector-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-color: #FFFFFF;
}

.newsletter-inner {
  width: 1200px;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 94px;
}

.newsletter-title-inner {
  text-transform: uppercase;
  margin-bottom: 29px;
}
