/*Общий комментарий. После этого раздела у тебя должны совпадать с макетом все параметры шрифта (жирность, размер, высота строки, цвет, text-transform, text-decoration, выравнивание и т.д. кароч),
фоновые цвета, большие декоративные изображения*/
/*Сейчас шрифты и фоновые цвета во многих местах отличаются от макета*/
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  min-height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #FFFFFF;
}

.button {
  font-family: inherit;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.page-header {
  color: black;
  background-color: #FFFFFF;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 250px;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  background-color: #FFFFFF;
  text-decoration: none;
}

.navigation-user {
  max-width: 170px;
  margin-left: auto;
  margin-top: auto; <!-- уточнить -->
}

.main-container {
  display: flex;
}

.main-logo {
  background-image: url("../images/index-background.jpg");
  background-color: #FFFFFF;
  color: #000000;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 1200px;
  height: 485px;
}

.page-container {
  width: 1200px;
  margin: auto;
}

.logo {
  display: block;
  margin: auto;
}


.city-description {
  text-align: center;
}

.advantages-list {
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.advantages-item {
  width: 400px;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description .advantages-order {
  font-size: 18px;
  line-height: 21px;
}

.appointment {
  color: #000000;
  background-color: #FFFFFF;
}

.appointment-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter {
  background-image: url("../images/footer-background.jpg");
  background-color: #000000;
  color: #FFFFFF;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 1200px;
  height: 411px;
  text-align: center;
}

.footer-social-item {
  background-color: #FFFFFF;
  color: #000000;
  text-decoration: none;
}

.footer-phone-number {
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  background-color: #FFFFFF;
  text-decoration: none;
}

.main-filter {
  background-image: url("../images/hotel-filter-background.jpg");
  background-repeat: no-repeat;
  color: #FFFFFF;
  background-color: #000000;
}

.breadcrumbs-link {
  line-height: 26px;
  color: #FFFFFF;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.select-control {
  background-color: #FFFFFF;
}

.catalog-options{
  background-color: #FFFFFF;
  color: #000000;
}

.hotel-card {
  background-color: #FFFFFF;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-title {
  font-weight: 700;
  color: #000000;
}

.hotel-card-type {
  font-weight: 400;
  color: #333333;
}

.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.pagination {
  color: #FFFFFF;
  background-color: #000000;
  text-decoration: none;
}

.newsletter-inner {
  background-color: #FFFFFF;
  text-align: center;
}
